@keyframes glowing {
  0% { box-shadow: 0 0 5px #FF6B09; }
  50% { box-shadow: 0 0 25px #fd7921; }
  100% { box-shadow: 0 0 5px #fa8a40; }
}

@keyframes glowing-icon {
  0% { fill: #FF6B09; }
  50% { fill: #fd7921; }
  100% { fill: #66ea3d; }
}

@keyframes glowing-text {
  0% { color: #FF6B09; }
  50% { color: #fd7921; }
  100% { color: #66ea3d; }
}



// hero-img 

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

  .hero-img {
    -webkit-animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

// CONSULTATION BY PHONE

@-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }

  .consult-btn:hover {
	-webkit-animation: flip-horizontal-bottom 0.4s reverse both;
	        animation: flip-horizontal-bottom 0.4s reverse both;
}
 
// menu text 

@-webkit-keyframes flip-scale-up-hor {
    0% {
      -webkit-transform: scale(1) rotateX(0);
              transform: scale(1) rotateX(0);
    }
    50% {
      -webkit-transform: scale(2.5) rotateX(-45deg);
              transform: scale(2.5) rotateX(-45deg);
    }
    100% {
      -webkit-transform: scale(1) rotateX(-90deg);
              transform: scale(1) rotateX(-90deg);
    }
  }
  @keyframes flip-scale-up-hor {
    0% {
      -webkit-transform: scale(1) rotateX(0);
              transform: scale(1) rotateX(0);
    }
    50% {
      -webkit-transform: scale(2.5) rotateX(-45deg);
              transform: scale(2.5) rotateX(-45deg);
    }
    100% {
      -webkit-transform: scale(1) rotateX(-90deg);
              transform: scale(1) rotateX(-90deg);
    }
  }

  .nav__link:hover {
	-webkit-animation: flip-scale-up-hor 0.5s linear ;
	        animation: flip-scale-up-hor 0.5s linear ;
}

.button,
#toTop {
    animation: glowing 1300ms infinite;
}


.program__list::after {
    animation: glowing 1300ms infinite;
}


.accent-text {
    animation: glowing-text 1300ms infinite;
}

// advent

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@keyframes wave {
  0% { transform: translateX(5%); }
  50% { transform: translateX(10%); }
  100% { transform: translateX(0%); }
}