// Базові кольори

$accentColor: #ff6b09;

// Заголовки + background
$primaryTitleBackgroundColor: #111518;

$primaryTextColor: #b9b9b9;

$whiteColor: #ffffff;

// Секція guarantee, feedback + fire-logo bg-img
$secondaryTitleColor: #3d3d3d;

$secondaryBackgroundColor: #f1f1f1;

$otherBackgroundColor: #e5e5e5;
