<section class="section Advantages" id="ccc">
    <div class="container">
      <h2 class="hidden">Our advantages</h2>
      <ul class="advantages__list">
        <li class="dvantages__item">Adapted author's UPE program</li>
        <li class="dvantages__item">Modern teaching methods</li>
        <li class="dvantages__item">
            <!-- <svg>
                <use href="./images/sprite.svg#icon-facebook"></use>
            </svg> -->
            Financial guarantee the result</li>
      </ul>
    </div>
  </section>