<!-- <div class="container">
    <div class="contacts__section">
        <h3 class="contacts__title">Registration for a
            <span class="accent-text">free</span>
            phone
            <span class="accent-text">consultation</span>
            on the nuances of English UPE
        </h3>
        <strong class="contacts__slogan">Leave a request for participation in a
            <span class="accent-text">free
                lesson</span>.
            A consultant will contact you and answer your questions</strong>
        <form class="contacts__form" action="">
            <label class="contacts__label" for="">
                <input class="contacts__input" type="name" placeholder="Имя*" autofocus>
            </label>
            <label class="contacts__label" for="">
                <input class="contacts__input" type="number" placeholder="Телефон*">
            </label>
        </form>
        <button class="button" type="button">I want a free lesson</button>
    </div>
</div> -->