
<footer class="footer">

    <div class="footer__contacts">
        <a href="/">
            <!-- logo -->
            <p>
                <span class="accent-text">Hellish</span>
                english
            </p>
        </a>

        <a href="tel:+380991234567" class="" aria-label="Phone number">
            <!-- <svg class="" width="20px" height="20px">
                    <use href=""></use>
                </svg> -->
            +38 (099) 123 45 67
        </a>

        <a href="https://www.instagram.com/" class="" aria-label="instagram">instagram
            <!-- <svg class="" height="40px" width="40px">
                    <use href=""></use>
                </svg> -->
        </a>
    </div>

    <div class="footer__copiright">
        <p>© All rights reserved, 2022</p>
    </div>



</footer>