<header class="header">
  <div class="container">
    <a href="#" class="logo">
      Hell<svg width="22" height="30"><use href="#"></use></svg>EN
      <p><span>hellish</span>english</p>
    </a>
    <nav>
      <ul class="nuv">
        <li class="nuv__item">
          <a class="nuv__link" href="#">Studying program</a>
        </li>
        <li class="nuv__item">
          <a class="nuv__link" href="#">about</a>
        </li>
        <li class="nuv__item">
          <a class="nuv__link" href="#">training options</a>
        </li>
        <li class="nuv__item">
          <a class="nuv__link" href="#">contacts</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="consultation">consultation by phone</a>
  </div>
</header>

<main>
  <!-- hero -->
  <section class="hero">
    <div class="container">
      <div class="hero__name">
        <h1 class="hero__title">Complex preparation for English UPE</h1>
        <p>It won’t be easy.</p>
        <h3>But you are guaranteed to get +25 points</h3>
        <button type="button">i want a free lesson</button>
      </div>
      <div class="hero-img">
        <img src="#" alt="people sit at the table" />
      </div>
    </div>
  </section>

  <!-- Advantages -->
  <section class="Advantages">
    <div class="container">
      <h2 class="hidden">Our advantages</h2>
      <ul class="advantages__list">
        <li class="dvantages__item">Adapted author's UPE program</li>
        <li class="dvantages__item">Modern teaching methods</li>
        <li class="dvantages__item">Financial guarantee the result</li>
      </ul>
    </div>
  </section>
</main>
