<section class="reviews">
    <div class="container">
        <h2 class="title">Feedback from graduates</h2>
        <div class="reviews__container">
            <div class="reviews__card">
                <div class="reviews__avatar">
                    <img class="image" src="/src/images/feedback/slider-main-mob-90.png" width="90px" height="90px"
                        alt="">
                </div>
                <a href="https://www.facebook.com/">
                    <svg width="30px" height="30px">
                        <use class="social-icon" href="/src/images/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </div>
            <div class="reviews__text-block">
                <h3 class="reviews-title">Tonya Kucherovskaya</h3>
                <p class="reviews__text--education">Graduated from 2015, National University of Bioresources
                    and natural history of Ukraine</p>
                <p class="reviews__text--about">In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From
                    the
                    first lesson I
                    realized that I was on my plate. Elena and I became friends because she was really worried about my
                    success. She became
                    an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I
                    can
                    brag that I'm
                    student<span id="dots">...</span><span id="more">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Rem laboriosam distinctio odit architecto, error alias.</span></p>
                <button class="reviews__button" onclick="myFunction()" id="myBtn">Read more</button>
            </div>
        </div>
    </div>
</section>