<section class="section advantages" id="advantages">
    <div class="container">
      <h2 class="hidden">Our advantages</h2>
      <ul class="advantages__list">
        <li class="advantages__item advantages__item--student">Adapted author's UPE&nbsp;program</li>
        <li class="advantages__item advantages__item--learning">Modern teaching&nbsp;methods</li>
        <li class="advantages__item advantages__item--insurance">Financial guarantee the&nbsp;result</li>
      </ul>
    </div>
  </section>