<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title">
      Registration for a
      <span class="accent-text">free</span>
      phone
      <span class="accent-text">consultation</span>
      on the nuances of English UPE
    </h2>

    <strong class="contacts__slogan">Leave a request for participation in a
      <span class="accent-text text-center">free lesson<span class="text-white">.</span>
      </span> A consultant will
      contact
      you and answer your questions</strong>

    <form class="contacts__form">
      <input class="contacts__input" type="text" placeholder="Name*" pattern="[A-Za-z]{1,32}" required
        title="The username must consist of letters without numbers." minlength="3" />
      <input class="contacts__input" type="tel" placeholder="Phone*" pattern="[0-9]{3,10}" required
        title="Please add at least 9 digits without letters." minlength="3" />

      <button class="button button-contacts" type="submit">i want a free lesson</button>

    </form>
  </div>
</section>