<section class="contacts">
  <div class="container">
    <div class="contacts__section">
      <h3 class="contacts__title">
        Registration for a
        <span class="accent-text">free</span>
        phone
        <span class="accent-text">consultation</span>
        on the nuances of English UPE
      </h3>
      <strong class="contacts__slogan"
        >Leave a request for participation in a
        <span class="accent-text">free lesson</span>. A consultant will contact
        you and answer your questions</strong
      >
      <form class="contacts__form" action="">
        <input
          class="contacts__input"
          type="name"
          placeholder="Имя*"
          pattern="[A-Za-z]{1,32}"
          required
          title="The username must consist of letters without numbers."
          minlength="3"
        />
        <input
          class="contacts__input"
          type="tell"
          placeholder="Телефон*"
          pattern="[0-9]{3,10}"
          required
          title="Please add at least 9 digits without letters."
          min="3"
        />
        <button class="button" type="submit">I want a free lesson</button>
      </form>
    </div>
  </div>
</section>
