<footer class="footer">
    <div class="container">
        <div class="footer__contacts">
            <div class="fake"></div>
            <!-- <a href="/">
                <p>
                    <span class="accent-text">Hellish</span>
                    english
                </p>
            </a> -->

            <a class="footer__tell" href="tel:+380991234567" aria-label="Phone number">
                <svg class="footer__tell-icon" width="20px" height="20px">
                    <use href="/src/images/sprite.svg#icon-phone"></use>
                </svg>
                +38 (099) 123 45 67
            </a>

            <a class="footer__inst-icon" href="https://www.instagram.com/" aria-label="instagram">
            </a>
        </div>
    </div>

    <a id="toTop" href="./index.html">Up</a>
</footer>