<footer class="footer">
    <div class="container">
        <div class="footer__contacts">
            <!-- logo -->
            <a href="#" class="logo logo-footer" id="logo">
            <p class="logo__name">Hell<svg width="14" height="20">
                    <use href="./images/sprite.svg#icon-campfire"></use>
                </svg>EN</p>
            <p class="logo__text"><span class="accent-text">hellish&nbsp;</span>english</p>
            </a>
            
            <a class="footer__tell" href="tel:+380991234567" aria-label="Phone number">
                <svg class="footer__icon" width="20px" height="20px">
                    <use href="/src/images/sprite.svg#icon-phone"></use>
                </svg>
                +38 (099) 123 45 67
            </a>

            <a class="footer__inst-icon" target="_blank" href="https://www.instagram.com/" aria-label="instagram">
            </a>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <p class="footer__text">&#169;&nbspAll&nbsprights&nbspreserved,&nbsp2022</p>
        </div>
    </div>

    <a class="scroll-top" id="toTop" href="./index.html">Up</a>
</footer>