<header class="header">
  <div class="container">
    <a href="./index.html" class="logo" id="logo">
      <p class="logo__name">
        Hell<svg class="logo__icon" width="14" height="20">
          <use href="./images/sprite.svg#icon-campfire"></use></svg>EN
      </p>
      <p class="logo__text">
        <span class="accent-text">hellish&nbsp;</span>english
      </p>
    </a>

    <nav class="nav" id="navigation" data-menu>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" id="program-menu" href="#program"
            >Studying program</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" id="about-menu" href="#about">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" id="training-menu" href="#training"
            >Training options</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link" id="contacts-menu" href="#contacts">Contacts</a>
        </li>
      </ul>
      <a href="#" class="consult-btn" id="consultation"
        >consultation by phone</a
      >
    </nav>
    <a href="#" class="consult-btn consult-btn--menu" id="consultation-menu"
      >consultation by phone</a
    >

    <button class="mobil-menu__btn" id="mobil-menu__btn" data-menu-button>
      <svg width="35" height="35" aria-label="Переключатель мобильного окна">
        <use
          class="icon-menu-open"
          href="./images/sprite.svg#icon-menu-open"
        ></use>
        <use
          class="icon-menu-close"
          href="./images/sprite.svg#icon-menu-close"
        ></use>
      </svg>
    </button>
  </div>

</header>
