<header class="header">
  <div class="container">
    <a href="./index.html" class="logo" id="logo">
      <p class="logo__name">
        Hell<svg class="" width="14" height="20">
          <use href="./images/sprite.svg#icon-campfire"></use></svg
        >EN
      </p>
      <p class="logo__text">
        <span class="accent-text">hellish&nbsp;</span>english
      </p>
    </a>

    <nav class="navigation" id="navigation" data-menu>
      <ul class="nav">
        <li class="nav__item">
          <a class="nav__link" href="#program">Studying program</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#training">Training options</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <a href="#xxx" class="consultation" id="consultation"
        >consultation by phone</a
      >
    </nav>
    <a href="#xxx" class="consultation consultation2" id="consultation"
      >consultation by phone</a
    >

    <button class="mabil-menu__btn" id="mabil-menu__btn" data-menu-button>
      <svg width="25" height="25" aria-label="Переключатель мобильного окна">
        <use
          class="icon-menu-open"
          href="./images/sprite.svg#icon-menu-open"
        ></use>
        <use
          class="icon-menu-close"
          href="./images/sprite.svg#icon-menu-close"
        ></use>
      </svg>
    </button>
  </div>

  <div id="scrollup"><a href="#">вверх</a></div>
</header>

<script>
  (() => {
    const menuBtnRef = document.querySelector('[data-menu-button]');
    const mobileMenuRef = document.querySelector('[data-menu]');

    menuBtnRef.addEventListener('click', () => {
      const expanded =
        menuBtnRef.getAttribute('aria-expanded') === 'true' || false;

      menuBtnRef.classList.toggle('is-open');
      menuBtnRef.setAttribute('aria-expanded', !expanded);

      mobileMenuRef.classList.toggle('is-open');
    });
  })();

  document.getElementById('mabil-menu__btn').onclick = function () {
    document.getElementById('logo').classList.toggle('logo-dark');
  };

  // Плавный скрол меню

  $(document).ready(function () {
    $('#navigation').on('click', 'a', function (event) {
      //отменяем стандартную обработку нажатия по ссылке
      event.preventDefault();

      //забираем идентификатор бока с атрибута href
      var id = $(this).attr('href'),
        //узнаем высоту от начала страницы до блока на который ссылается якорь
        top = $(id).offset().top;

      //анимируем переход на расстояние - top за 1500 мс
      $('body,html').animate({ scrollTop: top }, 1500);
    });
  });

  // кнопка вверх

  jQuery(document).ready(function () {
    var btn = $('#toTop');
    $(window).scroll(function () {
      if ($(window).scrollTop() > 300) {
        btn.addClass('show');
      } else {
        btn.removeClass('show');
      }
    });
    btn.on('click', function (e) {
      e.preventDefault();
      $('html, body').animate({ scrollTop: 0 }, '300');
    });
  });

  // document.getElementById('consultation').onclick = function() {
  // document.getElementById('navigation').classList.remove('is-open'),
  // document.getElementById('mabil-menu__btn').classList.remove('is-open'),
  // document.getElementById('logo').classList.remove('logo-dark');
  // }

  // document.getElementById('program').onclick = function() {
  // document.getElementById('navigation').classList.remove('is-open'),
  // document.getElementById('mabil-menu__btn').classList.remove('is-open'),
  // document.getElementById('logo').classList.remove('logo-dark');
  // }

  // document.getElementById('about').onclick = function() {
  // document.getElementById('navigation').classList.remove('is-open'),
  // document.getElementById('mabil-menu__btn').classList.remove('is-open'),
  // document.getElementById('logo').classList.remove('logo-dark');
  // }

  // document.getElementById('training').onclick = function() {
  // document.getElementById('navigation').classList.remove('is-open'),
  // document.getElementById('mabil-menu__btn').classList.remove('is-open'),
  // document.getElementById('logo').classList.remove('logo-dark');
  // }

  // document.getElementById('contacts').onclick = function() {
  // document.getElementById('navigation').classList.remove('is-open'),
  // document.getElementById('mabil-menu__btn').classList.remove('is-open'),
  // document.getElementById('logo').classList.remove('logo-dark');
  // }
  document.getElementById('consultation').onclick = function () {
    document.getElementById('navigation').classList.remove('is-open'),
      document.getElementById('mabil-menu__btn').classList.remove('is-open'),
      document.getElementById('logo').classList.remove('logo-dark');
  };

  document.getElementById('program').onclick = function () {
    document.getElementById('navigation').classList.remove('is-open'),
      document.getElementById('mabil-menu__btn').classList.remove('is-open'),
      document.getElementById('logo').classList.remove('logo-dark');
  };

  document.getElementById('about').onclick = function () {
    document.getElementById('navigation').classList.remove('is-open'),
      document.getElementById('mabil-menu__btn').classList.remove('is-open'),
      document.getElementById('logo').classList.remove('logo-dark');
  };

  document.getElementById('training').onclick = function () {
    document.getElementById('navigation').classList.remove('is-open'),
      document.getElementById('mabil-menu__btn').classList.remove('is-open'),
      document.getElementById('logo').classList.remove('logo-dark');
  };

  document.getElementById('contacts').onclick = function () {
    document.getElementById('navigation').classList.remove('is-open'),
      document.getElementById('mabil-menu__btn').classList.remove('is-open'),
      document.getElementById('logo').classList.remove('logo-dark');
  };
</script>
