<section class="hero">
  <div class="container">
    <div class="hero__name">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <p class="hero__text">
        It won&#10076;t be easy.
        <span class="hero__text__part">But you are guaranteed to get </span>
        <span class="accent-text">+25 points</span>
      </p>
      <button class="button" type="submit">i want a free lesson</button>
    </div>
    <div class="hero-img">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/hero/hero-842.png    1x,
            ./images/hero/hero-842@2x.png 2x
          "
          type="image/png"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/hero-370.png    1x,
            ./images/hero/hero-370@2x.png 2x
          "
          type="image/png"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero/hero-208.png    1x,
            ./images/hero/hero-208@2x.png 2x
          "
          type="image/png"
        />

        <img
          width="208"
          height="178"
          src="./images/hero/hero-208.png"
          alt="people sit at the table"
        />
      </picture>
    </div>
  </div>
</section>
