<section class="hero">
    <div class="container">
      <div class="hero__name">
        <h1 class="hero__title">Complex preparation for English UPE</h1>
        <p class="hero__text">It won&#10076;t be easy.</p>
        <p class="hero__points-text">But you are guaranteed to get</p> 
        <p class="hero__points-text"><span class="accent-text">+25 points</span></p>
        <button class="button" type="button">i want a free lesson</button>
      </div>
      <div class="hero-img">
        <img width="208" height="178" src="./images/hero/hero-370.png" alt="people sit at the table" />
      </div>
    </div>
  </section>