<!-- problems -->
<section class="section problems">
  <div class="container">
    <h2 class="problems-title">
      The main problems of students in&nbsp;English UPE, which we&nbsp;<span
        class="accent-text"
        >help</span
      >&nbsp;to&nbsp;solve
    </h2>
    <ul class="problem-list">
      <li class="problem__item">
        <h3 class="problem__text">Grammar</h3>
      </li>
      <li class="problem__item">
        <h3 class="problem__text">Inability to understand spoken English</h3>
      </li>
      <li class="problem__item">
        <h3 class="problem__text">Stingy vocabulary for writing an essay</h3>
      </li>
      <li class="problem__item">
        <h3 class="problem__text">Preparing alone</h3>
      </li>
      <li class="problem__item">
        <h3 class="problem__text">Lack of a single knowledge resource</h3>
      </li>
      <li class="problem__item">
        <h3 class="problem__text">Lack of self-organization and laziness</h3>
      </li>
    </ul>
  </div>
</section>
