.benefits__list {
  counter-reset: section; /*Создаёт новый счётчик для каждого
                                      тега <ol>*/
  list-style-type: none;
}

.benefits__item::before {
  counter-increment: section; /*Инкрементируется только счётчик
                                     текущего уровня вложенности*/
  content: counters(section, '.') ' '; /*Добавляем значения всех уровней
                                    вложенности, используя разделитель '.'*/
  /*Если необходима поддержка < IE8,
                                      необходимо убедиться, что после
                                      разделителя ('.') не стоит пробел*/
}
