// .fake {
//   margin-bottom: 24px;
//   width: 80px;
//   height: 30px;
//   background-color: blueviolet;
// }

.logo-footer {
  @include media(mobile-only) {
    margin-bottom: 22px;
  }
  @include media(tablet) {
    width: 128px;
  }
}
.footer {
  padding: 0;
}
.footer__contacts {
  padding-top: 24px;
  @include media(tablet) {
    padding: 50px 40px 40px;
  }
  display: flex;
  align-items: center;
  @include media(mobile-only) {
    flex-direction: column;
  }

}

.footer__inst-icon {
  @include media(mobile-only) {
    margin-bottom: 30px;
  }

  display: block;
  background-image: url(/src/images/instagram-40.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 40px;
  height: 40px;
}

.footer__icon {
  fill: $accentColor;
  margin-right: 10px;vertical-align: middle;

  @include media(tablet) {
    margin-right: 20px;
    width: 24px;
    height: 24px;
   }
}

.footer__tell {
  @include media(mobile-only) {
    margin-bottom: 28px;
  }
  @include media(tablet-only) {
   margin-left: auto;
  }
  
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: #111518;
  @include media(tablet) {
    font-size: 20px;
    line-height: 1.2;

    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #B9B9B9;
  }
  @include media(desktop) {
    font-size: 30px;
    line-height: 1.23;
  }
}
.footer__copyright {
  @include media(mobile-only) {
    padding: 20px 68px;
  }
  @include media(tablet) {
    padding: 20px 0;
  }

  background-color: $primaryTitleBackgroundColor;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  @include media(tablet) {
    text-align: left;
  }
}
.footer__text {
font-weight: 500;
font-size: 14px;
line-height: 2;

// display: flex;
// align-items: center;

color: $primaryTextColor;
}
// кнопка вверх

#toTop {
  width: 60px;
  height: 60px;
  font-weight: 700;
  background: $accentColor;
  color: #fff;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111518;
  font-size: 14px;
  line-height: 2;
  text-align: center;
}

