.header .container {
  position: relative;
  z-index: 1;

  @include media(tablet) {
    display: flex;
    justify-content: start;
    align-items: baseline;
  }
}

.header {
  padding: 30px 0 0 0;
}

// logo
.logo {
  display: inline-block;
  font-weight: 800;
  font-size: 17px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  z-index: 1;

  color: #000;

  @include media(tablet) {
    font-size: 26px;
  }

  @include media(desktop) {
    margin-right: 165px;
  }

  &__name {
    display: flex;
    align-items: center;
  }

  &__text {
    font-weight: 700;
    font-size: 5px;
    line-height: 1.25;
    letter-spacing: 0.18em;
    text-transform: uppercase;

    span {
      color: $accentColor;
    }

    @include media(tablet) {
      font-size: 8px;
    }
  }
}

.logo__name svg {
  margin: 0 4px;
  fill: $accentColor;
}

// navigation

.navigation {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 120px 0;
  background: rgba(17, 21, 24, 0.9);
  z-index: -1;

  @include media(desktop) {
    display: flex;
    flex-direction: row;
    background: transparent;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
  }
}

.nav {
  padding: 0 20px;

  @include media(mobile) {
    width: 480px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @include media(desktop) {
    width: auto;
    padding: 0;
  }
}

.nav__item {
  margin-right: 58px;
}

.nav__link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  color: #ffffff;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  @include media(desktop) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;

    color: #b9b9b9;
  }
}

// button

// menu button
.mabil-menu__btn {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 2;

  @include media(desktop) {
    display: none;
  }
}

.mabil-menu__btn .icon-menu-close {
  display: none;
}

.mabil-menu__btn.is-open .icon-menu-close {
  display: block;
}

.mabil-menu__btn.is-open .icon-menu-open {
  display: block;
}

.navigation.is-open {
  display: block;
}

.icon-menu-close {
  fill: #fff;
}

.logo-dark {
  color: #fff;
}

.consultation {
  display: block;
  width: 260px;
  padding: 14px 0;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: $accentColor;
  background-color: transparent;
  border: 2px solid $accentColor;

  @include media(tablet) {
    display: none;
  }
}
.consultation2 {
  display: none;

  @include media(tablet) {
    z-index: -2;
    margin: 0;
    margin-right: 60px;
    display: inline-block;
    margin-left: auto;
  }

  @include media(desktop) {
    padding: 27px 0;
    width: 336px;
    font-size: 14px;
    margin-right: 0;
  }
}

@include media(desktop) {
  .header .container {
    display: flex;
    justify-content: space-between;
  }

  .header .nav {
    display: flex;
  }
}

@include media(tablet) {
  .logo svg {
    width: 22px;
    height: 30px;
  }
}

@keyframes glowing {
  0% {
    background-color: #ff6b09;
    box-shadow: 0 0 5px #ff6b09;
  }
  50% {
    background-color: #fd7921;
    box-shadow: 0 0 25px #fd7921;
  }
  100% {
    background-color: #fa8a40;
    box-shadow: 0 0 5px #fa8a40;
  }
}

@keyframes glowing-icon {
  0% {
    fill: #ff6b09;
  }
  50% {
    fill: #fd7921;
  }
  100% {
    fill: #66ea3d;
  }
}

@keyframes glowing-text {
  0% {
    color: #ff6b09;
  }
  50% {
    color: #fd7921;
  }
  100% {
    color: #66ea3d;
  }
}

.button,
#toTop {
  animation: glowing 1300ms infinite;
}

.program__list::after {
  animation: glowing 1300ms infinite;
}

.logo__name svg {
  animation: glowing-icon 1300ms infinite;
}

.logo .logo__text span {
  animation: glowing-text 1300ms infinite;
}

.accent-text {
  animation: glowing-text 1300ms infinite;
}

// hero-img

@-webkit-keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}
@keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}

.hero-img:hover {
  -webkit-animation: flip-scale-down-ver 0.5s linear both;
  animation: flip-scale-down-ver 0.5s linear both;
}

// CONSULTATION BY PHONE

@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

.consultation:hover {
  -webkit-animation: flip-horizontal-bottom 0.4s reverse both;
  animation: flip-horizontal-bottom 0.4s reverse both;
}

// menu text

@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-45deg);
    transform: scale(2.5) rotateX(-45deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-90deg);
    transform: scale(1) rotateX(-90deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-45deg);
    transform: scale(2.5) rotateX(-45deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-90deg);
    transform: scale(1) rotateX(-90deg);
  }
}

.nav__item:hover {
  -webkit-animation: flip-scale-up-hor 0.5s linear;
  animation: flip-scale-up-hor 0.5s linear;
}

// кнопка вверх

#scrollup {
  position: fixed; /* фиксированная позиция */
  opacity: 0.8; /* прозрачность */
  padding: 15px 10px 10px; /* отступы */
  background: #aaa;
  border-radius: 5px; /* скругление углов */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  left: 10px; /* отступ слева */
  bottom: 10px; /* отступ снизу */
  display: none; /* спрятать блок */
  cursor: pointer;
}
