// Our program mobile

.program__container {
  @include media(mobile-only) {
    width: 320px;
  }
}

.program {
  position: relative;
  padding-top: 50px;

  @include media(mobile-only) {
    background-color: $primaryTitleBackgroundColor;
  }

  @include media(tablet) {
    background-color: $primaryTitleBackgroundColor;
    padding-top: 60px;
    padding-bottom: 130px;
  }

  @include media(tablet-only) {
    border-bottom: 1px solid $accentColor;
  }

  @include media(desktop) {
    padding-top: 120px;
  }
}

.program__h2-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $whiteColor;

  margin-bottom: 30px;

  @include media(mobile-only) {
    text-align: center;
  }

  @include media(tablet) {
    margin-bottom: 52px;
    font-size: 26px;
  }

  @include media(desktop) {
    margin-bottom: 106px;
    font-size: 46px;
  }
}

.program__h3-title {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  color: $whiteColor;
  text-transform: uppercase;

  @include media(not-desktop) {
    margin-bottom: 5px;
  }

  @include media(desktop) {
    font-size: 30px;
    line-height: 0.93;
    margin-bottom: 25px;
  }
}

.program__h4-title {
  display: inline-flex;
  align-items: center;

  font-size: 12px;
  line-height: 1.65;
  letter-spacing: 0.08em;
  color: $accentColor;

  margin-bottom: 5px;

  &::before {
    content: '';
    width: 15px;
    height: 1px;
    margin-right: 7px;
    background-color: $accentColor;
  }
}

.program__h3-title--last-semester {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10;

  &::after {
    content: '';
    width: 15px;
    height: 1px;
    margin: 16px 0;
    background-color: $accentColor;

    @include media(desktop) {
      position: absolute;
      top: 50px;
    }
  }
}

.program__h3-title--last-semester {
  @include media(desktop) {
    margin-bottom: 67px;
  }
}

.program__h4-title--secondary {
  margin-bottom: 10px;
}

.program__list--main {
  position: relative;

  &::before {
    @include media(desktop) {
      content: '';
      position: absolute;
      height: 3px;
      width: 100vw;
      background-color: #fff;
      left: 50%;
      transform: translateX(-50%);
      top: -48px;
    }
  }
}

.program__list--main {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.program__list {
  position: relative;

  @include media(not-desktop) {
    padding-left: 80px;
  }

  @include media(desktop) {
    display: inline-flex;
    flex-direction: column;
  }
}

.program__list:not(:last-child) {
  @include media(mobile-only) {
    margin-bottom: 40px;
  }

  @include media(tablet-only) {
    margin-bottom: 30px;
  }
}

.program__list::after {
  @include media(not-desktop) {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 7px;
    left: 32px;
    transform: translateX(-40%);
    border-radius: 50%;

    background: $accentColor;
  }
}

.program__list::after {
  @include media(desktop) {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: -53px;

    border-radius: 50%;

    background: $accentColor;
  }
}

.program__list:not(:last-child)::before {
  @include media(not-desktop) {
    content: '';
    position: absolute;
    height: calc(100% + 49px);
    transform: translateY(8px);
    left: 32px;
    width: 3px;
    background-color: $whiteColor;
  }

  @include media(tablet-only) {
    height: calc(100% + 30px);
  }
}

.program__list--secondary {
  margin-bottom: 8px;
}

.program__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  letter-spacing: 0.08em;
  opacity: 0.5;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.56;
  }
}

// Tablet / Desktop

.program__box {
  @include media(tablet) {
    display: flex;
    flex-direction: column;

    width: 150px;
  }

  @include media(desktop) {
    width: 226px;
  }
}

.program__box:nth-child(1) {
  @include media(desktop) {
    margin-bottom: 25px;
  }
}

.program__item-flex {
  @include media(tablet) {
    display: flex;

    @include media(desktop) {
      flex-direction: column;
    }
  }
}

.program__box--vocabulary,
.program__box--writing {
  @include media(tablet-only) {
    margin-left: 50px;
  }
}

.program__box--vocabulary-third,
.program__box--vocabulary-fourth {
  @include media(desktop) {
    margin-bottom: 25px;
  }
}

.program__h4-title {
  @include media(desktop) {
    font-size: 20px;
    line-height: 1.65;
  }
}

// Img

.program__img {
  position: absolute;
  width: auto;
  right: 0;
  bottom: 0;

  @include media(mobile-only) {
    transform: translateY(75%);
  }

  @include media(tablet-only) {
    bottom: 33px;
  }

  @include media(desktop) {
    right: 50%;
    transform: translate(-25%, 31%);
  }
}
