// Our program mobile

.program {
  padding-top: 50px;

  @include media(mobile-only) {
    background-image: linear-gradient(to bottom, #111518 86%, #ffffff 14%);
    text-align: center;
  }

  @include media(tablet) {
    background-image: linear-gradient(to bottom, #111518 75%, #ffffff 15%);
    padding-top: 60px;
    padding-bottom: 137px;
  }
}

.program__h2-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $whiteColor;

  margin-bottom: 30px;

  @include media(tablet) {
    margin-bottom: 52px;
  }
}

.program__h3-title {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  color: $whiteColor;

  margin-bottom: 5px;
}

.program__h4-title {
  position: relative;
  font-size: 12px;
  line-height: 1.65;
  letter-spacing: 0.08em;
  color: $accentColor;

  margin-bottom: 5px;

  &::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: $accentColor;
  }
}

.program__h4-title--secondary {
  margin-bottom: 10px;
}

.program__list {
  border-left: 3px solid red;

  @include media(mobile) {
    margin-bottom: 40px;
  }

  @include media(tablet) {
    margin-bottom: 30px;
  }
}

.program__list--secondary {
  margin-bottom: 8px;
}

.program__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  letter-spacing: 0.08em;
  opacity: 0.5;
}

// Tablet

.program__box {
  @include media(tablet) {
    display: flex;
    flex-direction: column;

    width: 150px;
  }
}

.program__item-flex {
  @include media(tablet) {
    display: flex;
  }
}

.program__box--vocabulary,
.program__box--writing {
  @include media(tablet) {
    margin-left: 50px;
  }
}
